/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

    /* ............... */
    /* Media Queries - Estilos generales */

/* Estilos para pantallas pequeñas - Smartphone (hasta 767px de ancho) */
/* @media screen and (max-width: 767px) {} */

/* Estilos para pantallas medianas - Tablets (de 768px a 1023px de ancho) */
/* @media screen and (min-width: 768px) and (max-width: 1023px) {} */





/* Comienzo de INICIO */

/* Estilos del encabezado */
.header {
    background-color: #EEEEEE;/* color de fondo del encabezado*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%; /*espaciado interno del encabezado */
}


/* imagen logo */

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    border-radius: 60px;
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2); /* Aumenta el tamaño del logo al pasar el mouse */
}


/* botones del nav */

.header .nav-links {
    list-style: none; /* Elimina los puntos de la lista */
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.2);
}

.header .nav-links a {
    font-size: 700;
    color: green;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.header .nav-links li a:hover {
    color: #ffbc0e; /* Cambia el color del enlace al pasar el mouse */
}


/* Estilos del menú hamburguesa */
.hamburger-menu {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #EEEEEE;
    padding: 6px;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.4);
    position: absolute; /* necesario para usar el z-index */
    z-index: 2; /* mayor valor de z-index, estara por encima de otros menus */

}

.hamburger-menu span {
    height: 3px;
    width: 25px;
    background: green;
    margin: 4px 0;
    transition: 0.4s; /* Transición para la animación */
}

/* Animación para convertir el menú hamburguesa en una 'X' */
.hamburger-menu.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 8px); /* mueve la linea para quedar en diagonal */
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0; /* Oculta la segunda línea */
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -8px);
}


/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .header .nav-links {
        display: none; /* Oculta los enlaces de navegación por defecto */
        position: absolute;
        top: 85px; /* Posiciona el menú debajo del encabezado */
        right: 10%;
        background: #EEEEEE;
        width: 200px;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.4);
        text-align: center;
    }

    .header .nav-links.active {
        display: flex; /* Muestra los enlaces de navegación cuando está activo */
    }

    .hamburger-menu {
        display: flex; /* Muestra el menú hamburguesa en pantallas pequeñas */
    }
}


/* arreglo del body */

body {
    background-color: #FFF5E4;
}


/* Primera parte (imagen y debajo texto, todo centrado) */

.contenedor-presentacion {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* coloca un margen superior */
}

.contenedor-presentacion h1 {
    font-size: 26px;
}

.contenedor-presentacion img {
    display: block; /* para eliminar el espacio adicional debajo de la imagen */
    margin: 0 auto; /* para centrar la imagen horizontal */
    width: 30%;
    height: auto; /* para mantener la proporcion de aspecto de la imagen */
    border-radius: 20px; /* agregar esquinas redondeadas a la imagen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* agregar sombra suave en la imagen */
}

.contenedor-presentacion p {
    display: block;
    margin-top: 10px; /* espacio entre imagen y texto */
    font-size: 20px; /* tamaño del texto */
    line-height: 1.5; /* ajusta el espaciado entre lineas del texto */
    max-width: 78%; /* ancho maximo del parrafo */
}


/* Mini resumen de cada seccion y un modo de ir a ellas, sin el nav */

/* 1º contenedor */

.contenedor-secciones {
    display: flex; /* los elementos hijos se colocan una al lado del otro */
    text-align: center;
    flex-flow: row wrap; 
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px; /* agregar esquinas redondeadas a la imagen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* agregar sombra suave en la imagen */
    margin: 20px;
    padding: 20px;
}

.texto {
    flex: 1; /* significa que ocuparan el mismo espacio horizontal dentro del contenedor */
    padding-right: 40px; /* espacio entre el texto y la imagen */
}

.texto a{
    color: darkgreen;
}

.texto a:hover{
    color: crimson;
}

.imagen {
    flex: 1;
}

.imagen img {
    width: 90%;
    height: auto;
}


/* 2º contenedor */

.contenedor-secciones-2 {
    display: flex; /* los elementos hijos se colocan una al lado del otro */
    text-align: center;
    flex-flow: row wrap; 
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px; /* agregar esquinas redondeadas a la imagen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* agregar sombra suave en la imagen */
    margin: 20px;
    padding: 20px;
}

.texto2 {
    flex: 1; /* significa que ocuparan el mismo espacio horizontal dentro del contenedor */
    padding-right: 40px; /* espacio entre el texto y la imagen */
}

.texto2 a{
    color: darkgreen;
}

.texto2 a:hover{
    color: crimson;
}

.imagen2 {
    flex: 1;
}

.imagen2 img {
    width: 90%;
    height: auto;
}


/* arreglo del footer */

footer {
    background-color: #EEEEEE;
    /* padding: 10px 30px; */
    color: black;
    text-align: center; /* centra en contenido del footer */
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer section {
    float: right;
    text-align: right;
}

.footer a {
    transition: color 0.3s ease;
    color: rgb(83, 83, 83);
    text-decoration: none;
    
}

footer a:hover {
    color: darkgoldenrod;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.text {
    color: grey;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    opacity: 0.7;
}

/* Fin de INICIO */



/* Comienzo de RECETAS */

/* Contenedor principal para las secciones y el menú */
.secciones-recetas {
    display: flex;
    justify-content: space-between; /* Distribuye el h2 y el menú desplegable en extremos opuestos */
    align-items: center; /* Centra verticalmente el contenido dentro del contenedor */
    padding: 10px;
    border: 1px solid #ccc; /* Añade un borde alrededor del contenedor principal */
    border-radius: 10px; /* Bordes redondeados para el contenedor principal */
    background-color: #a0d6a2;
    color: white;
    margin: 5px;
}

/* Estilo del título h2 */
.secciones-recetas h2 {
    margin: 0; /* Elimina el margen por defecto del h2 */
    flex-grow: 1; /* Permite que el h2 ocupe todo el espacio disponible entre el menú y el borde izquierdo */
    text-align: center; /* Centra el texto del h2 */
    font-size: 30px;
}

/* Contenedor del menú */
.menu-container {
    position: relative; /* Establece que la posición del contenedor puede ser modificada con respecto a su posición normal. */
    display: inline-block; /* Hace que el contenedor sea un elemento de bloque, pero que se comporte como un elemento en línea (permitiendo otros elementos en la misma línea). */
}

/* Botón del menú desplegable */
.dropbtn {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px; /* Bordes redondeados para el botón */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Contenido del menú desplegable */
.dropdown-content {
    display: none; /* Oculta el menú desplegable por defecto. */
    position: absolute; /* Posiciona el menú desplegable en relación a su contenedor padre .menu-container. */
    right: 0; /* Alinea el menú desplegable con el borde derecho del contenedor */
    background-color: #f9f9f9;
    min-width: 160px; /* Define un ancho mínimo para el menú desplegable. */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    z-index: 1; /* Asegura que el menú desplegable se superponga sobre otros elementos. */
    border-radius: 10px;
    text-align: center;
}

/* Estilo de los enlaces del menú */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Efecto hover en los enlaces del menú */
.dropdown-content a:hover {
    background-color: #a0d6a2;
    border-radius: 10px;
}

/* Mostrar el menú al hacer hover sobre el contenedor */
.menu-container:hover .dropdown-content {
    display: block; /* Muestra el menú desplegable cuando el ratón pasa sobre el contenedor del menú (.menu-container). */
}

/* Efecto hover en el botón */
.menu-container:hover .dropbtn {
    background-color: #3e8e41;
}

/* recetas */
.container-receta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "titulo titulo titulo"
        "ingredientes proteinas imagen"
        "preparacion preparacion imagen";
    gap: 20px;
    padding: 20px;
    flex: 1;
}

.receta-titulo {
    grid-area: titulo;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #4CAF50;
}

.receta-titulo h2 {
    font-size: 25px;
}

.receta-imagen {
    grid-area: imagen;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #4CAF50;
    /* width: 10px; */
    height: 370px;
}

.receta-imagen img {
    width: 100%;
    border-radius: 10px;
    align-self: center;
    width: 100%; /* Ocupa el 100% del ancho de la celda del grid */
    height: 100%; /* Ocupa el 100% del alto de la celda del grid */
    object-fit: cover; /* Ajusta la imagen manteniendo la proporción y recortándola si es necesario */
}

.receta-ingredientes {
    grid-area: ingredientes;
    background-color: #f4f4f4;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #4CAF50;
}

.proteinas {
    grid-area: proteinas;
    background-color: #f4f4f4;
    padding: 20px;
    padding-top: 10px;
    padding-left: 40px;
    border-radius: 10px;
    border: 1px solid #4CAF50;
}

.receta-preparacion {
    grid-area: preparacion;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #4CAF50;
}

.receta-ingredientes h3, .proteinas h3, .proteinas h4, .receta-preparacion h3 {
    margin-top: 0;
    text-align: center;
    padding-bottom: 15px;
}

.receta-ingredientes ul, .receta-preparacion ol {
    margin-left: 20px;
}

/* Media query para pantallas menores a 768px (móviles y tablets pequeñas) */
@media screen and (max-width: 767px) {
    .secciones-recetas h2 {
        font-size: 23px; 
    }

    .container-receta {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto); 
        grid-template-areas: 
        "titulo"
        "imagen"
        "ingredientes"
        "preparacion"
        "proteinas"
    } 

    .receta-ingredientes ul, .proteinas ul, .receta-preparacion {
        font-size: 15px;
    }

    .receta-titulo h2 {
        font-size: 18px;
    }

    .proteinas h4 {
        font-size: 16px;
    }

    .receta-ingredientes h3, .proteinas h3, .proteinas h4, .receta-preparacion h3 {
        text-align: center;
    }

}

/* Media query para pantallas entre 768px y 1023px (tablets y pantallas pequeñas de escritorio) */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .secciones-recetas h2 {
        font-size: 25px;
    }

    .container-receta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto; /* Sigue igual, este iria o no? */
        grid-template-areas: 
        "titulo titulo"
        "imagen proteinas"
        "ingredientes preparacion"
    }

    .receta-ingredientes, .proteinas, .receta-preparacion {
        font-size: 18px;
    }

    .receta-titulo h2 {
        font-size: 22px;
    }

}





/* Fin de RECETAS */







/* Comienzo de BIENESTAR */

/* Fin de BIENESTAR */








/* Comienzo de PRIMEROS AUXILIOS */

/* Fin de PRIMEROS AUXILIOS */






/* Comienzo de NOSOTROS */

/* Pimera parte (imagen y debajo texto, todo centrado) */

.contenedor-nosotros {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-nosotros img {
    display: block; /* para eliminar el espacio adicional debajo de la imagen */
    margin: 0 auto; /* para centrar la imagen horizontal */
    width: 40%;
    height: auto; /* para mantener la proporcion de aspecto de la imagen */
    border-radius: 20px; /* agregar esquinas redondeadas a la imagen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* agregar sombra suave en la imagen */
}

.contenedor-nosotros p {
    display: block;
    margin-top: 10px; /* espacio entre imagen y texto */
    font-size: 20px; /* tamaño del texto */
    line-height: 1.5; /* ajusta el espaciado entre lineas del texto */
    max-width: 78%; /* ancho maximo del parrafo */
}


                    /* ............... */
            /* Media Queries - Estilos generales */


/* Estilos para pantallas pequeñas - Smartphone (hasta 767px de ancho) */
@media screen and (max-width: 767px) {
    .contenedor-nosotros p {
        margin-top: 10px; /* espacio entre imagen y texto */
        font-size: 16px; /* tamaño del texto */
        line-height: 1.2; /* ajusta el espaciado entre lineas del texto */
        max-width: 74%; /* ancho maximo del parrafo */
    }

    main h2, h3 {
        font-size: 18px; /* tamaño del texto */
        max-width: 74%; /* ancho maximo del parrafo */
    }

} 


/* Estilos para pantallas medianas - Tablets (de 768px a 1023px de ancho) */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .contenedor-nosotros p {
        font-size: 18px; /* tamaño del texto */
        line-height: 1.3; /* ajusta el espaciado entre lineas del texto */
        max-width: 76%; /* ancho maximo del parrafo */
    }

}


/* Fin de NOSOTROS */
